<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer Result</h1>
    <h2>Your Pig Latinizer word is: <%= @pig.piglatinize(sentence)%> </h2>
  </body>
</html>